<form name="form" ng-controller="postCtrl as ctrl">
  <div class="form-group">
    <label for="name">Blog</label>
    <ui-select id="blog" name="blog" options="ctrl.Blogs" selected-option="ctrl.Post.BlogId" is-required="true"></ui-select>
  </div>
  <div class="form-group">
    <label for="name">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Title" ng-model="ctrl.Post.Title" required>
  </div>
  <div class="form-group">
    <label for="url">Content</label>
    <input type="text" class="form-control" id="content" name="content" placeholder="Content" ng-model="ctrl.Post.Content" required>
  </div>

  <button type="button" class="btn btn-primary" ng-click="ctrl.save()" ng-disabled="!form.$valid">Save</button>
  <button type="button" class="btn btn-danger" ng-disabled="!form.$valid || ctrl.Post.Id == undefined" ng-click="ctrl.delete()">Delete</button>
  <button type="button" class="btn btn-default" ng-click="ctrl.close()">Close</button>
</form>
